body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header button {
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  background-color: #aeafb1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header button:hover {
  background-color: #458daa;
}

.header h1 {
  margin: 0;
  color: #ffffff;
}

.header h2 {
  color: #ffffff;
  margin: 0;
}

.sidebar {
  grid-area: sidebar;
  background-color: rgba(65, 61, 65, 0.159);
  /* color: white; */
  padding: 20px;
  display: flex;
  flex-direction: column;
}
/* .sidebar {
  grid-area: sidebar;
  background-color: #f4f4f4;
  padding: 20px;
  position: absolute;
  top: 60px;
  left: -250px;
  width: 250px;
  height: calc(100% - 60px);
  transition: left 0.3s ease;
  z-index: 1000;
} */

.sidebar.show {
  left: 0;
}

.content {
  grid-area: content;
  padding: 10px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "header"
      "content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr;
  }

  .header h1 {
    display: none;
  }

  .header h2 {
    font-size: 1em;
  }

  .sidebar {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .sidebar.show {
    display: block;
    position: fixed;
    top: 60px;
    left: 0;
    width: 250px;
    height: calc(100% - 60px);
    background-color: #f4f4f4;
    z-index: 1000;
  }

  .modal {
    width: 90%;
    max-width: none;
    height: auto;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
